.home-heading{
    color: rgb(201, 150, 249);
    font-size: 30px;
    margin: 0px;
}
.home-greeting{
    font-size: 20px;
    margin-top: 30px;
}
.logout{
    position: fixed;
    top:10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Net transactions */
.net-transactions-values {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .net-transactions-value-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f106e988;
  
   ;
    text-align: center;
    width: 180px;
  }
  
  .net-transactions-value-amount {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .net-transactions-value-title {
    color: #777;
    font-size: 1em;
  }
  .transactions-container{
    max-height: 400px;
    overflow-y: scroll;
  }

  /* Add transaction button */
.add-transaction {
  
    margin:  auto;
    margin-left: 1400px;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .add-transaction:hover {
    transform: scale(1.1);
  }